extends layout

block content
  .jumbotron
    .container
      h1 co.opencampaigndata.org
      p Welcome to the OpenCampaignData site for Colorado's campaign finance API.
  .container
    .row
      .col-lg-12
        h2 Purpose
        p This is an open data project providing a friendly API to Colorado's TRACER database. It is a REST API that allows anyone interested to query the full TRACER data set and use that data to shed light on the money that our candidates are spending.
    .row
      .col-lg-12
        a.btn.btn-large.btn-success(href="/keys/new") Get your API Key now!
    .row
      .col-lg-12
        h2 Audience
        p This site and API have been created to allow anyone interested to investigate the TRACER campaign finance data set for Colorado. API calls will return CSV or JSON data, allowing a wide variety of tools to make use of it.
    .row
      .col-lg-12
        h2 Data
        p All of the data in this API has been pulled from the official TRACER database, available at 
          a(href="http://tracer.sos.colorado.gov/PublicSite/homepage.aspx") tracer.sos.colorado.gov
    .row
      .col-lg-12
        h2 API
        p The code providing this API is available 
          a(href="https://github.com/Samnsparky/co_opencampaigndata") from the Github Repository
          , and initial API documentation can be found 
          a(href="http://samnsparky.github.io/co_opencampaigndata/") on the documentation site
          .
    .row
      .col-lg-12
        h2 Credits
        ul
          li
            a(href="http://gleap.org") Sam Pottinger
          li
            a(href="http://www.appliedtrust.com/company/bios/ned-mcclain") Ned McClain
          li
            a(href="http://blog.erikwcunningham.com/") Erik Cunningham



