!!!
html
  head
    title OpenCampaignData
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/bootstrap.min.css")

  body
    div(class='content')
      block content
